button {
  border-radius: 20px;
  border: 1px solid #129afe;
  font-size: 14px;
  font-weight: 500;
  font-family: "Acme";
  padding: 10px;
  margin: 10px;
}

button:hover {
  background: #129afe;
  cursor: pointer;
  color: white;
}
button:active {
  color: #129afe;
  cursor: pointer;
  background: white;
}
.search-button {
  background: #129afe;
  cursor: pointer;
  color: white;
}
.search-button:hover {
  background: #01695f;
  cursor: pointer;
  color: white;
}
.search-button:active {
  color: #129afe;
  cursor: pointer;
  background: white;
}

#FAQ-button-1:active {
  color: #129afe;
}

.FAQ-answer {
  display: none;
  background-color: white;
  color: lightgray;
}
