.main-6 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  width: 80%;
  justify-content: center;
  margin: 20px;
}

.block-6 {
  background-color: #fafbfc;
  border: 3px double #cecece;
  border-radius: 10px;
  height: fit-content;
  padding: 10%;
}

#FAQ {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 70%;
  margin: 20px;
}

#contact-us {
  background-color: #000d40;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#contact-divs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10px;
}

.contact-div {
  padding: 5px;
  margin: 5px;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: inherit;
  padding: 5px;
  margin: 5px;
}

.answer {
  padding: 5px;
  margin: 5px;
}
