.input-container {
  position: relative;
  display: inline-block;
}

/* Style for the input field */
.input-container input[type="text"] {
  padding-left: 30px; /* Ensure some space for the icon on the left */
}

/* Style for the magnifying glass icon */
.input-container .fa-magnifying-glass {
  position: absolute;
  top: 50%;
  left: 5px; /* Adjust the distance from the left side */
  transform: translateY(-50%);
  color: #aaa; /* Adjust the color as needed */
  cursor: pointer;
}
