.input-container {
  position: relative;
  display: inline-block;
}

.input-container input[type="text"] {
  padding-left: 30px;
}

.input-container .fa-magnifying-glass {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #aaa;
  cursor: pointer;
}
