* {
  padding: 0px;
  margin: 0px;
  font-family: "Courier New", Courier, monospace;
}

body {
  background-image: url(https://res.cloudinary.com/dbkotg0js/image/upload/v1694990201/web-shot-2_oexbkh.png);
}

header {
  display: flex;
  justify-content: space-between;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

footer {
  background-color: #000d40;
  color: bisque;
}

i {
  padding-right: 5px;
}

a {
  color: #0e537e;
}
hr {
  width: inherit;
  color: lightgray;
}
p {
  padding: 5px;
}
