.search-container {
  display: flex;
  align-items: center;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.fa-search {
  margin-left: 10px;
  color: #ccc;
  font-size: 16px;
}

.search-input {
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 50px;
  background: white;
  margin: 0px;
}

.search-button {
  border: none;
  height: 100%;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  margin: 0px;
}

#large-search-container {
  position: relative;
  margin: 20px;
}

#dropdown-list {
  list-style: none;
  position: absolute;
  background-color: #fff;
  display: none;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  border-radius: 10px;
}

#dropdown-list li {
  padding: 5px;
}
